/* Coolors Exported Palette - https://coolors.co/91f9e5-f75590-fce4d8-fbd87f-568259 */

/* CSS HEX */
--magic-mint: #91f9e5ff;
--violet-red: #f75590ff;
--champagne-pink: #fce4d8ff;
--jasmine: #fbd87fff;
--middle-green: #568259ff;

/* CSS HSL */
--magic-mint: hsla(168, 90%, 77%, 1);
--violet-red: hsla(338, 91%, 65%, 1);
--champagne-pink: hsla(20, 86%, 92%, 1);
--jasmine: hsla(43, 94%, 74%, 1);
--middle-green: hsla(124, 20%, 42%, 1);

/* SCSS HEX */
$magic-mint: #91f9e5ff;
$violet-red: #f75590ff;
$champagne-pink: #fce4d8ff;
$jasmine: #fbd87fff;
$middle-green: #568259ff;

/* SCSS HSL */
$magic-mint: hsla(168, 90%, 77%, 1);
$violet-red: hsla(338, 91%, 65%, 1);
$champagne-pink: hsla(20, 86%, 92%, 1);
$jasmine: hsla(43, 94%, 74%, 1);
$middle-green: hsla(124, 20%, 42%, 1);

/* SCSS RGB */
$magic-mint: rgba(145, 249, 229, 1);
$violet-red: rgba(247, 85, 144, 1);
$champagne-pink: rgba(252, 228, 216, 1);
$jasmine: rgba(251, 216, 127, 1);
$middle-green: rgba(86, 130, 89, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-right: linear-gradient(90deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-bottom: linear-gradient(180deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-left: linear-gradient(270deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-top-right: linear-gradient(45deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-bottom-right: linear-gradient(135deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-top-left: linear-gradient(225deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-bottom-left: linear-gradient(315deg, #91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);
$gradient-radial: radial-gradient(#91f9e5ff, #f75590ff, #fce4d8ff, #fbd87fff, #568259ff);